body {
    font-family: oswaldregular, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: grey;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.navigation {
    display: inline-block;
}

a:link {
    color: skyblue;

}

a:visited {
 
    color: #9242e2;

}

a:hover {
    color: #3399ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(97, 97, 97);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .millennium {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(116, 116, 116);
  }

  @font-face {
    font-family: 'oswaldregular';
    src: url('oswald-variablefontwght-webfont.woff2') format('woff2'),
         url('oswald-variablefontwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}